/*navbar*/
.logo-navbar {
    width: 3rem;
    height: auto;
}


/*homePage*/
.first{
    margin : 5rem;
    /*
    background-color: rgb(143,47,224);
    background-color: rgb(106,6,60);
    background-color: rgb(255,140,244);
    */
    background-color: rgb(255,140,244);
}

.second {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 5rem;
}

.third .row{
    margin-bottom: 1rem;
}

.third .col{
    margin-left : 1rem;
    margin-right: 1rem;
}
body{
    background: url('../img/bscreen.jpg') no-repeat center center fixed;
    background-size: cover;
}